#logOut {
  float: right;
  margin: 5px 0;
  padding: 5px 15px;
}

body {
  background-color: #d9f2d9;
}

.deetsContainer, #home {
  margin: 0 4%;
}

#days {
  text-align: center;
  font-size: 34px;
  margin-top: -20px;
  font-family: 'Tangerine', 'Aclonica', cursive;
  font-weight: bold;
}

#daysToGo {
  font-size: 40px;
}

#minMax {
  font-size: 22px;
  margin: 2px 0;
}

#dollars {
  font-size: 18px;
}

#currency, #budget, #dates, .nameDeets, .giftDeets, .partyDeets {
  margin-top: 10px;
}

#budget, #whereAt {
  margin-top: 8px;
}

#sendIt {
  padding: 15px 0;
  margin: 10px 0;
  font-size: 20px;
}

#deetsHead {
  font-size: 20px;
}

aside {
  font-size: 18px;
}

#sidebar {
  position: fixed;
  padding: 20px;
  right: 70px;
  top: 315px;
}

#trivia, #map {
  margin-top: 10px;
}

#santaLtr {
  font-size: 22px;
}

#mssgs, #deets, #sidebar {
  border: 3px dashed green;
  background-color: #ffcccc;
  margin: 10px 5px 10px 0;
}

#updates {
  font-size: 20px;
  margin: 5px 0;
}

#alerts {
  color: red;
}

.amazon {
  margin: 2px 0;

}

#footer {
  text-align: center;
  font-size: 22px;
  padding: 20px 0;
  bottom: 0;
}

.jumbotron {
  margin-left: -15px;
  background-color: #ffcccc;
  border: 6px dotted red;
  color: green;
}
