#logOut {
 
  margin-left: 51%;
  padding: 5px 15px;
  background-color:  rgb(151, 190, 151);
}

/* body {
  background-color: #d9f2d9;
} */

body {
  background-image: url(../images/christmas-colour.png)
}

.container{
  border: 15px solid rgb(151, 190, 151);
  border-style: dashed; 
}

/* .deetsContainer, #home {
  margin: 0 4%;
} */

#header{
  font-family: 'Tangerine', cursive;
  font-weight: bold;
  font-size: 90px;
 
  color: rgb(31, 97, 75); 
}

#days {
  text-align: center;
  font-size: 25px;
  color: rgb(31, 97, 75); 
}

#tree {
  color:  rgb(31, 97, 75); 
  margin-left: 50%;
  margin-top: 5px;
}

#daysToGo {
  font-size: 40px;
}

#minMax {
  font-size: 18px;
  margin-top: 8px ;
}
.maxAm {
  margin-top: 8px;
}

#dollars {
  font-size: 18px;
}

#currency, #budget, #dates, .nameDeets, .giftDeets, .partyDeets {
  margin-top: 20px;
}

#name {
  margin-top: 7px;
}

.desiresI {
  margin-bottom: 8px;
}
#gift3 {
  margin-top: 7px;
}

#min {
  margin-top: 10px;
}

#max {
  margin-top: 10px;
  /* margin-bottom: 50px; */
}

#usd {
  margin-top: 8px;
}

#dateDeet{
  margin-top: 10px;
}

#convert {
  margin-top: 8px;
}


 #whereAt {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.budgetP,
.checkboxAmounVer {
  margin-top: 20px;

  text-align: center;
 
}



#sendIt {
  padding: 15px 0;
  margin: 10px 0;
  font-size: 20px;
}

.panel-title {
  font-size: 22px;
  text-align: center;
  
}

aside {
  font-size: 18px;
}

#sidebar {
  position: fixed;
  padding: 20px;
  right: 70px;
  top: 315px;
}

#trivia, #map {
  margin-top: 10px;
}

#santaLtr {
  font-size: 22px;
}

 #deets, #sidebar {
  border: 3px dashed green;
  background-color: white;
  border: 10px solid rgb(151, 190, 151);
  border-style: dashed;
  color:  rgb(31, 97, 75);
  margin: 20px 20px 20px 10px;
  font-size: 20px;
}

#mssgs {
  border: 3px dashed green;
  background-color: white;
  border: 10px solid rgb(151, 190, 151);
  border-style: dashed;
  color:  rgb(31, 97, 75);
  margin: 10px 20px 20px 0px;
  font-size: 20px;
}

#updates {
  font-size: 29px;
  margin-left:45%;
  margin-top: 20px;
}

/* #alerts {
  color: red;
} */

.notChangeDays{
  margin-left: 30%;
  margin-top: 10px;
  color:rgb(219, 95, 95);
}

.amazon {
  margin: 2px 0;

}

#footer {
  text-align: center;
  font-size: 22px;
  padding: 20px 0;
  bottom: 0;
}

.jumbotron {
  
  margin-top: 30px;
  border: 10px solid rgb(151, 190, 151);
  border-style: dashed;
  background-color: rgb(219, 95, 95);
}

#deets-submit-btn{
  margin-top: 20px;
  margin-bottom: 20px;
}


                  /* Sticky footer styles
              -------------------------------------------------- */
              html {
                position: relative;
                min-height: 100%;
                }
                body {
                /* Margin bottom by footer height */
                margin-bottom: 0px;
                
                
                }
                .footer {
                position: absolute;
                bottom: 0;
                width: 86%;    
                padding-top: 23px;
                /* font-weight: bolder; */
                font-weight: bold;
                font-size: 15px;
               
                /* Set the fixed height of the footer here */
                height: 65px;
                background-color: rgb(219, 95, 95);
                color: rgb(31, 97, 75); 
                margin-left: 7.3%;
               
                }
              