/*DU Web Dev Bootcamp 2018 
    Natalya Garusova, Sarah Gilbert,Mark Rubesyle, Diana Schiele
    Project 1
*/


body{
    background-image: url(../images/christmas-colour.png);
   
}

.jumbotron {
    background-color: rgb(219, 95, 95);
    margin-top: 30px;
}

#header{
    font-family: 'Tangerine', cursive;
    font-weight: bold;
    font-size: 90px;
   
    color: rgb(31, 97, 75); 
}
h4 {
    color: rgb(31, 97, 75); 
}  

.jumbotron,
.panel-body {
    border: 10px solid rgb(151, 190, 151);
    border-style: dashed;
    padding-bottom: 10px;
}

.container{
    border: 15px solid rgb(151, 190, 151);
    border-style: dashed; 
}
.panel-heading {
    border-top: 10px solid rgb(163, 218, 163);
    border-style: dashed;
}
#text-aboutGame {
    height:300px;
    overflow-y: scroll;
}

#user-container {
    border: 10px solid rgb(151, 190, 151);
    /* border: 10px solid rgb(163, 218, 163); */
    border-style: dashed;
    margin-bottom: 40px;
    padding: 20px;
}

/* #wishListSubmit-bt {
    padding-bottom: 30px;
} */


.form-group,
th {
    color: rgb(231, 117, 117)
    
}
p{
    color:  rgb(31, 97, 75);
}

 #text-aboutGame{ 
    margin-bottom: 30px;
}



#tree {
    color:  rgb(31, 97, 75); 
    margin-left: 50%;
    margin-top: 5px;
}

.linkNotUser{
    font-size: 18px;
    color: rgb(180, 72, 72);
}

#options-container {
    margin-bottom: 70px;
     /* height: 320px; */
     width: 90%; 
    background-color:white;
    margin-left: 5%;
    /* margin-bottom: 30px; */
    border: 10px solid rgb(151, 190, 151);
    border-style: dashed;
    padding: 20px;
    
}
.newGrRadio{
    margin-left: 10px;
}

#keycode-submit-btn {
    margin: 10px;
}

#data-container {
    height: 1000px;
    /* width: 1000px; */
    background-color: white;
    /* border: 10px solid rgb(151, 190, 151);
    border-style: dashed; */
    padding: 20px;
    /* margin-left: 3%; */
    
}


                  /* Sticky footer styles
              -------------------------------------------------- */
              html {
                position: relative;
                min-height: 100%;
                }
                body {
                /* Margin bottom by footer height */
                margin-bottom: 0px;
                
                }
                .footer {
                position: absolute;
                bottom: 0;
                width: 94.7%;
                
                padding-top: 11px;
                /* margin-top: 30px; */
                /* Set the fixed height of the footer here */
                height: 65px;
                background-color: rgb(219, 95, 95);
                color: rgb(31, 97, 75); 
                margin-left: 16px;
               
                }
              